{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Aprovações Pendentes</h2>

    {% for item in pendentes %}
        <div class="card p-3 mb-2">
            <strong>{{ item.nome }}</strong><br>

            <a href="{% url 'aprovar_restaurante' item.id %}" class="btn btn-success btn-sm">
                Aprovar
            </a>

            <a href="#" class="btn btn-danger btn-sm">
                Rejeitar
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}